.idea/*
.venv
.coverage
.like-dbg
.git
.gdb_hist
.ssh
.zshrc
.gdb_history
tags
src/__pycache__
src/tests/__pycache__/*
linux-*
kernel_root
io/rootfs*
io/filesystem*
examples/c_kmod/compile_commands.json
patches/*
configs/kernel_configs/*.conf*
Dockerfile*
android*
ctf/bzImage
ctf/root*
ctf/vmlinux
ctf/initramfs
ctf/pawn*
