.idea/*
.venv
.like-dbg
.git
.gdb_hist
.ssh
.zshrc
.gdb_history
tags
src/__pycache__
linux-*
kernel_root
io/rootfs*
io/filesystem*
patches/*
Dockerfile*
android*
ctf/bzImage
ctf/root*
ctf/vmlinux
ctf/initramfs
ctf/pawn*
